<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key>
			<false/>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>com.johnboiles.model3d</string>
				<string>public.step</string>
				<string>com.shapr3d.step</string>
				<string>com.shapr3d.stp</string>
				<string>a360.step</string>
				<string>com.johnboiles.step</string>
				<string>public.object</string>
				<string>public.geometry-definition-format</string>
				<string>public.standard-tesselated-geometry-format</string>
				<string>org.khronos.gltf</string>
				<string>org.khronos.glb</string>
				<string>model/gltf+json</string>
				<string>model/gltf-binary</string>
				<string>model/obj</string>
				<string>model/stl</string>
				<string>model/3mf</string>
				<string>com.solidworks.part</string>
				<string>com.solidworks.assembly</string>
				<string>gltf</string>
				<string>glb</string>
				<string>obj</string>
				<string>stl</string>
				<string>3mf</string>
				<string>sldprt</string>
				<string>sldasm</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewViewController</string>
	</dict>
</dict>
</plist>
